# Conhecendo melhor nossa base de consumidores: qual estado possui os clientes com melhores pontuações de crédito?

## Objetivo

Queremos conhecer melhor nossos clientes por estado. Para isso, iniciamos uma análise na pontuação de crédito. 
Para realizar a verificação inicial, precisamos de alguns valores.
Os valores são a média, a mediana, a moda e o desvio padrão da pontuação de crédito.

## Detalhes

A resposta deve conter os valores da média, mediana, moda e desvio padrão da pontuação de crédito para cada estado do dataset.
O arquivo para submissão deve estar em formato json, conforme o arquivo exemplo "submission.json".

## Carregando bibliotecas

In [1]:
import pandas as pd
import numpy as np

## Carregando dataset

In [4]:
credit_df = pd.read_csv('desafio1.csv', index_col=0)
credit_df.head()

,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
RowNumber,,,,,,,,,,,
1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1

In [5]:
credit_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7000 entries, 1 to 7000
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        7000 non-null   object
 1   sobrenome                 7000 non-null   object
 2   pontuacao_credito         7000 non-null   int64
 3   estado_residencia         7000 non-null   object
 4   genero                    7000 non-null   object
 5   idade                     7000 non-null   int64
 6   nivel_estabilidade        7000 non-null   int64
 7   saldo_conta               7000 non-null   float64
 8   numero_produtos           7000 non-null   int64
 9   possui_cartao_de_credito  7000 non-null   int64
 10  membro_ativo              7000 non-null   int64
dtypes: float64(1), int64(6), object(4)
memory usage: 656.2+ KB

## Análise descritiva

In [41]:
states = list(credit_df['estado_residencia'].unique())
states

['SC', 'RS', 'PR']

In [42]:
submission = {}
for state in states:
    submission[state] = {}
submission

{'SC': {}, 'RS': {}, 'PR': {}}

In [43]:
for i, v in credit_df.groupby('estado_residencia')['pontuacao_credito'].mean().items():
    submission[i]['media'] = v
submission

{'SC': {'media': 649.5376527422563},
 'RS': {'media': 651.1051428571428},
 'PR': {'media': 648.9612940496822}}

In [44]:
for i, v in credit_df.groupby('estado_residencia')['pontuacao_credito'].median().items():
    submission[i]['mediana'] = v
submission

{'SC': {'media': 649.5376527422563, 'mediana': 653},
 'RS': {'media': 651.1051428571428, 'mediana': 650},
 'PR': {'media': 648.9612940496822, 'mediana': 650}}

In [45]:
for i, v in credit_df.groupby('estado_residencia')['pontuacao_credito'].agg(lambda x:x.value_counts().index[0]).items():
    submission[i]['moda'] = v
submission

{'SC': {'media': 649.5376527422563, 'mediana': 653, 'moda': 850},
 'RS': {'media': 651.1051428571428, 'mediana': 650, 'moda': 850},
 'PR': {'media': 648.9612940496822, 'mediana': 650, 'moda': 850}}

In [46]:
for i, v in credit_df.groupby('estado_residencia')['pontuacao_credito'].std().items():
    submission[i]['desvio_padrao'] = v
submission

{'SC': {'media': 649.5376527422563,
  'mediana': 653,
  'moda': 850,
  'desvio_padrao': 97.23349279343314},
 'RS': {'media': 651.1051428571428,
  'mediana': 650,
  'moda': 850,
  'desvio_padrao': 95.1365984138358},
 'PR': {'media': 648.9612940496822,
  'mediana': 650,
  'moda': 850,
  'desvio_padrao': 98.60718591309755}}

In [47]:
submission = pd.DataFrame(submission)
submission

                       SC          RS          PR
media          649.537653  651.105143  648.961294
mediana        653.000000  650.000000  650.000000
moda           850.000000  850.000000  850.000000
desvio_padrao   97.233493   95.136598   98.607186

In [48]:
submission.to_json('submission.json')